// Palette de couleurs
$rich-black: #04151f;
$xanthous: #ffc759;
$lavender-blush: #e8eef3;
$penn-red: #92140c;

$brilliant: #1BADA6;  // Turquoise
$good: #96BC4B;       // Vert clair
$excellent: #6EB43F;  // Vert
$best: #8EB4CF;       // Bleu clair
$neutral: #808080;    // Gris
$inaccuracy: #F7C045; // Jaune
$mistake: #E58F2A;    // Orange
$blunder: #CA3431;    // Rouge

a,button,h1,h2,h3,h4,h5,h6 {
    font-family: "BioRhyme", serif;
}

p,li,span {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.disable {
    display: none;
}