// Palette de couleurs
$rich-black: #04151f;
$xanthous: #ffc759;
$lavender-blush: #e8eef3;
$penn-red: #92140c;

a,button,h1,h2,h3,h4,h5,h6 {
    font-family: "BioRhyme", serif;
}

p,li {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}